.services {
    color: #fff;
    background: #111;

    .title::before {
        background: #fff;
    }

    .title::after {
        background: #111;
        content: "what i provide";
    }

    .services-content {
        .card {
            background: #222;
            text-align: center;
            border-radius: 6px;
            padding: 70px 25px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background: #4b9cd3;

                .box {
                    transform: scale(1.05);

                    i {
                        color: #fff;
                    }
                }
            }

            .box {
                display: flex;
                flex-direction: column;
                gap: 12px;
                transition: all 0.3s ease-in-out;

                i {
                    font-size: 50px;
                    color: #4b9cd3;
                    transition: color 0.3s ease;
                }
            }
        }
    }
}