<!-- services section -->
<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">My services</h2>
        <div class="services-content flex flex-col md:flex-row justify-between gap-8">
            <div class="card">
                <div class="box">
                    <i class="fas fa-paint-brush"></i>
                    <div class="text-2xl font-medium">Web Design</div>
                    <p class="text-xl">Design influences what we think, the way we feel and the decisions we make.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-code"></i>
                    <div class="text-2xl font-medium">Apps Design</div>
                    <p class="text-xl">I value simple content structure, clean design patterns, and thoughtful interactions.</p>
                </div>
            </div>
        </div>
    </div>
</section>