<!-- skills section -->
<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">My skills</h2>
        <div class="skills-content grid grid-cols-1 md:grid-cols-2 gap-y-6 gap-x-12">
            <div class="bars">
                <div class="info">
                    <span>HTML</span>
                    <span>95%</span>
                </div>
                <div class="line html"></div>
            </div>
            <div class="bars">
                <div class="info">
                    <span>CSS</span>
                    <span>95%</span>
                </div>
                <div class="line css"></div>
            </div>
            <div class="bars">
                <div class="info">
                    <span>JavaScript</span>
                    <span>90%</span>
                </div>
                <div class="line js"></div>
            </div>
            <div class="bars">
                <div class="info">
                    <span>Angular</span>
                    <span>90%</span>
                </div>
                <div class="line angular"></div>
            </div>
            <div class="bars">
                <div class="info">
                    <span>NodeJS</span>
                    <span>85%</span>
                </div>
                <div class="line nodejs"></div>
            </div>
            <div class="bars">
                <div class="info">
                    <span>NestJS</span>
                    <span>90%</span>
                </div>
                <div class="line nestjs"></div>
            </div>
            <div class="bars">
                <div class="info">
                    <span>MySQL</span>
                    <span>90%</span>
                </div>
                <div class="line mysql"></div>
            </div>
            <div class="bars">
                <div class="info">
                    <span>MongoDB</span>
                    <span>90%</span>
                </div>
                <div class="line mongodb"></div>
            </div>
            <div class="bars">
                <div class="info">
                    <span>Tailwind</span>
                    <span>95%</span>
                </div>
                <div class="line tailwind"></div>
            </div>
            <div class="bars">
                <div class="info">
                    <span>Bootstrap</span>
                    <span>95%</span>
                </div>
                <div class="line bootstrap"></div>
            </div>
        </div>
    </div>
</section>