<section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Hello, I am</div>
            <div class="text-2">Sagar Patil</div>
            <div class="text-3">And I'm a <span class="typing"></span></div>
            <a class="primary-btn mt-5" href="#contact">Contact Me</a>
        </div>
    </div>
</section>

<app-about-me></app-about-me>

<app-my-services></app-my-services>

<app-my-skills></app-my-skills>

<app-my-projects></app-my-projects>

<app-contact-me></app-contact-me>