<div class="project-heading">
    <h1>All Projects</h1>
</div>

<section style="padding: 60px 0;">
    <div class="max-width">
        <div class="projects">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div class="card flex flex-col gap-3" *ngFor="let info of projectsDetails">
                    <div class="p-6">
                        <a [href]="info?.link" target="_blank">
                            <img [src]="info?.image" alt="project-image" loading="lazy">
                        </a>
                    </div>
                    <div class="pb-6 px-6 flex flex-col gap-4">
                        <div class="flex flex-col gap-3">
                            <h2 class="text-xl font-medium">{{info?.title}}</h2>
                            <p class="font-medium">{{info?.tools}}</p>
                        </div>
                        <div>
                            <a class="primary-btn" [href]="info?.link" target="_blank">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>