<div class="scroll-up-btn" (click)="scrollToTop()" [ngClass]="{'show':showScrollUpBtn}">
    <i class="fas fa-angle-up"></i>
</div>

<header [ngClass]="isSticky ? 'header-sticky' : 'header-fixed'">
    <div class="max-width">
        <div class="flex justify-between items-center">
            <div class="logo">
                <a href="#">S<span>P</span></a>
                <!-- <img src="/assets/images/logo.png" alt="logo"> -->
            </div>
            <ul class="menu" [ngClass]="{ 'active': menuActive }">
                <li><a href="#home" (click)="closeMenu()">Home</a></li>
                <li><a href="#about" (click)="closeMenu()">About</a></li>
                <li><a href="#services" (click)="closeMenu()">Services</a></li>
                <li><a href="#skills" (click)="closeMenu()">Skills</a></li>
                <li><a href="#projects" (click)="closeMenu()">Projects</a></li>
                <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
            </ul>
            <div class="menu-btn" (click)="toggleMenu()">
                <i class="fas" [ngClass]="menuActive ? 'fa-times' : 'fa-bars'"></i>
            </div>
        </div>
    </div>
</header>

<router-outlet />

<app-footer></app-footer>