<!-- contact section -->
<section class="contact" id="contact">
    <div class="max-width">
        <h2 class="title">Contact Me</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
            <div class="flex flex-col gap-4">
                <div class="text-xl font-semibold">Get in Touch</div>
                <p class="font-medium">I'm always open to discussing design work or any opportunities.</p>
                <div class="icons flex flex-col gap-5">
                    <div class="flex items-center gap-8 h-14">
                        <i class="fas fa-user"></i>
                        <div>
                            <div class="text-lg font-medium">Name</div>
                            <div class="sub-title">Sagar Patil</div>
                        </div>
                    </div>
                    <div class="flex items-center gap-8 h-14">
                        <i class="fas fa-map-marker-alt"></i>
                        <div>
                            <div class="text-lg font-medium">Address</div>
                            <div class="sub-title">Virar, Mumbai</div>
                        </div>
                    </div>
                    <div class="flex items-center gap-8 h-14">
                        <i class="fas fa-envelope"></i>
                        <div>
                            <div class="text-lg font-medium">Email</div>
                            <div class="sub-title">sagarpatil35137&#64;gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-3">
                <div class="text-xl font-semibold">Message me</div>
                <form class="flex flex-col gap-4 w-full">
                    <div class="grid grid-cols-2 gap-4">
                        <div class="field">
                            <input type="text" name="name" placeholder="Name" required>
                        </div>
                        <div class="field">
                            <input type="email" name="email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" name="Subject" placeholder="Subject" required>
                    </div>
                    <div>
                        <textarea name="message" rows="4" placeholder="Message.." required></textarea>
                    </div>
                    <div>
                        <button class="primary-btn" type="submit">Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>