/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content */
section {
    padding: 100px 0;

    .title {
        position: relative;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;
        font-family: "Ubuntu", sans-serif;
    }

    .title::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 180px;
        height: 3px;
        background: #111;
        transform: translateX(-50%);
    }

    .title::after {
        position: absolute;
        bottom: -8px;
        left: 50%;
        font-size: 20px;
        color: #4b9cd3;
        padding: 0 5px;
        background: #fff;
        transform: translateX(-50%);
    }
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.link {
    cursor: pointer;
    color: #4b9cd3;

    &:hover {
        filter: brightness(90%);
    }
}

// buttons
.primary-btn {
    display: inline-block;
    background: #4b9cd3;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #4b9cd3;
    transition: all 0.3s ease;

    &:hover {
        color: #4b9cd3;
        background: none;
    }
}

// responsive
@media (max-width: 947px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
}